.pagination-component {
    display: flex;
    justify-content: space-between;
    line-height: 3em;
}

.page {
    padding: 0 10px 0 0;
    cursor: pointer;
    opacity: 0.7;
}

.page.active {
    opacity: 1;
    font-size: 1.5em;
}

.page:hover {
    font-size: 1.5em;
}

.page:last-child {
    padding: 0;
}

.controls {
    font-size: 3em;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.controls:not(.disabled):hover {
    color: #FFBC0D !important;
}

.previous {
    float: left;
}

.next {
    float: right;
}

.next.disabled,
.previous.disabled {
    opacity: 0.4;
    cursor: auto;
}