.pagination-component {
    display: flex;
    justify-content: space-between;
    line-height: 3em;
}

.page {
    padding: 0 10px 0 0;
    cursor: pointer;
    opacity: 0.4;
}

.page.active {
    opacity: 0.7;
    font-size: 1.5em;
}

.page:hover {
    opacity: 1;
    font-size: 1.5em;
}

.page:last-child {
    padding: 0;
}

.controls {
    font-size: 3em;
    opacity: 0.7;
    cursor: pointer;
    /*  */
    postion: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.controls:not(.disabled):hover {
    opacity: 1;
    /*  */
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.previous {
    float: left;
}

.next {
    float: right;
}

.next.disabled,
.previous.disabled {
    opacity: 0.2;
    cursor: auto;
}