#navigation-component {
    background-color: #1E1E1E;
    display: flex;
}

#navigation-component.collapsed {
    /*height: 0;*/
    max-height: 0;
}

#navigation-component {
    overflow-y: hidden;
    max-height: 3em;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

@media (max-width: 576px) {
    #navigation-component {
        max-height: 15em;
    }
}

@-webkit-keyframes slide {
    100% {
        top: 0;
    }
}

@keyframes slide {
    100% {
        top: 0;
    }
}

#navigation-component .nav {
    justify-content: space-around;
}

#navigation-component a {
    font-size: 1em;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    margin: auto;
}

.logo {
    margin-left: 15px;
    font-size: 2em;
}

.logo:hover {
    color: #FF9B00;
    cursor: pointer;
}

.nav-menu-button {
    cursor: pointer;
    margin-right: 15px;
    font-size: 2em;
    float: right;
}

.nav-menu-button>i {
    font-size: 1.8em;
    position: relative;
    top: -0.5em;
}

.nav-menu-button:hover {
    color: white;
}