.area-block {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.header-emphasized {
    opacity: 0.9;
    font-style: italic;
}

.sub-header {
    opacity: 0.7;
    font-weight: bold;
}

.carousel {
    min-height: 70vh;
    overflow: scroll;
    display: flex;
}

#home {
    background-color: green;
    color: white;
    font-size: 2em;
}

#work {
    background-color: red;
    color: white;
}

#skills {
    background-color: purple;
    color: white;
}

#education {
    background-color: yellow;
}

#about {
    background-color: pink;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html {
        font-size: 16px;  
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 18px;  
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 16px;  
    }
    .container {
        width: 60%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 16px;  
    }
    .container {
        width: 60%;
    }
}