.area-block {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 80px;
    color: white;
    font-family: 'Oxygen', sans-serif;
}

.header-emphasized {
    opacity: 1;
    font-weight: bold;
}

.sub-header {
    opacity: 0.5;
}

.carousel {
    min-height: 70vh;
    overflow: hidden;
    display: flex;
}

a {
    color: #FFBC0D;
}

a:hover {
    opacity: 1; 
    text-decoration: none;
    color: #FFFFFF !important;
}

#home {
    background-color: #0A56E8;
    font-size: 1.5em;
}

#work {
    background-color: #3B24E8;
}

#skills {
    background-color: #3452FF;
}

#education {
    background-color: #2474E8;
}

#about {
    background-color: #34BCFF;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html {
        font-size: 16px;  
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 16px;  
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 16px;  
    }
    .container {
        width: 60%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 16px;  
    }
    .container {
        width: 60%;
    }
}